/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Background */
body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main container */
.container {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  text-align: center;
}

/* Title */
h1 {
  color: white;
  margin-bottom: 25px;
  font-size: 32px;
}

/* Card style */
.card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 14px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

/* Inputs */
input,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;

  border-radius: 8px;
  border: 1px solid #ccc;

  background: white;
  color: black;

  font-size: 14px;
}

/* Dropdown options */
select option {
  color: black;
  background: white;
}

/* Placeholder text */
input::placeholder {
  color: #666;
}

/* Buttons */
button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;

  background: #6366f1;
  color: white;

  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #4f46e5;
}

/* Expense list */
ul {
  list-style: none;
  margin-top: 10px;
}

li {
  background: white;
  color: black;

  padding: 10px;
  margin-bottom: 8px;

  border-radius: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Chart area */
canvas {
  max-width: 400px;
  margin: auto;
}