:root {
  font-family: Inter, system-ui, Arial, sans-serif;
}

/* Dark background */
body {
  margin: 0;
  font-family: Inter, sans-serif;

  background: linear-gradient(135deg,
      #020617,
      #020617,
      #020617,
      #0f172a);

  min-height: 100vh;
  color: #e2e8f0;
}

/* glow background effect */

body::before,
body::after {
  content: "";
  position: fixed;
  width: 500px;
  height: 500px;

  background: radial-gradient(circle, #4f46e5, transparent 60%);

  filter: blur(150px);

  opacity: 0.15;

  z-index: -1;
}

body::before {
  top: -200px;
  left: -200px;
}

body::after {
  bottom: -200px;
  right: -200px;
}